body {
  background-color: #f0ede7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Catamaran";
  font-size: 18px;
  font-weight: 500;
  color: rgb(93, 79, 79);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Navigation-link {
  color: #212121;
  padding: 5px;
  text-decoration: none;
}
.Navigation-link:hover {
  text-decoration: underline;
}
.Navigation-link-active {
  /* color: palevioletred; */
  color: #f0ede7;
}
.Navigation-link-active:hover {
  color: #f0ede7;
  text-decoration: underline;
}
